/*=== RESETTING THE DEFAULT CSS/ RESETANDO O CSS PREDEFINIDO============*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=== VARIABLES/ VARIÁVEIS ======================*/
:root{
  /* colors */
  --title-color: #05479d;
  
 
  --base-color: #3e6ac3;
  --base-color-second: #f6e535;
  --base-color-alt: #51b3ed;
  --title-color: #164298 ;
  --text-color: #000;
  --text-color-alt: #423352;
  --text-color-light: #020e4a;
  --body-color: #fff;

   /* Fonts/ Fontes*/
   --title-font-size: 1.875rem;
   --subtitle-font-size: 1rem;


   --title-font: 'Zen Kaku Gothic New', sans-serif;
   --body-font: 'Noto Sans', sans-serif;
}

/*=== BASE ============================*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  --webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--text-color-light);
  --webkit-font-smoothing: auto;
}

.destaque {
  background-image: url(assets/img/destaque-1.jpg);
  height: 80vh;
  display: flex; 
  width: 100%;
  margin-top: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}


.fundo-escuro{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  align-items: center;
}

.fundo-texto{
  background-color: rgba(255, 255, 255, 0.295);
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.title-fundo{
  color: var(--text-color);
}

.fundo-texto p {
  color: var();
}


.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 800 1rem var(--body-font);
  transition: background 0.3s;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.button:hover,
.button:active {
  background: var(--base-color-alt);
  color: var(--body-color)
}

#about .image{
  margin-top: 0.5rem;
  height: 100%;
  width: 100%;

}

.button span i{
 margin-left: 0.5rem;
 margin-right: 0.5rem;
}

/*=== LAYOUT\ Estilo ============================*/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section p{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: left;
}

.section .title {
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}


#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--base-color-second);
  width: 100%;
  height: 3rem;
}

#header .logo{
  color: var(--base-color)
}

#header.scroll {
  background: var(--base-color);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.281);
}

#header.scroll .logo          {
  color: white;
  transition: 0.2s;
}

#header.scroll .icon-menu {
  color: white;
  transition: 0.2s;
}

/*=== NAVIGATION/ NAVEGAÇÃO ============================*/

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover, nav ul li a:active{
  color: var(--base-color-second);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color-second);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after, nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* SHOW MENU/ MOSTRAR MENU*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--base-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* TOGGLE MENU ICON (OPEN, CLOSE OPTIONS) / ALTERNAR ÍCONE DO MENU(ABRIR, FECHAR OPÇÕES)*/
.toggle {
  color: var(--text-color-light);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-cross {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show div.icon-cross {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*=== HOME/ PRINCIPAL ============================*/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}


#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

/*=== ABOUT/ SOBRE ============================*/
#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*=== SERVICES/ SERVIÇOS ============================*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*====  CONTACT\ Contato ============================ */
.text .title-adocao{
  margin-top: 1.5rem;
}

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
  margin-top: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*====  HELP/ DOAÇÕES ============================ */
#help .doacao a{
  color: var(--text-color);
}

#help .doacao i{
  margin-right: 0.5rem;
}

#help .doacao a i{
  color: var(--title-color);
}


/*====  FOOTER/ RODAPÉ ============================ */
footer {
  background: var(--base-color);
}

footer.section{
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.logo-alt {
  color: var(--body-color);
  font-size: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  color: var(--body-color);
}

footer .social a:hover,
footer .social a:active {
  transform: translateY(-15px);
}

/*====  BACK TO TOP/ VOLTAR PARA CIMA ^ ============================ */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.back-to-top:hover,
.back-to-top:active {
  opacity: 0.5;
}

/* RESPONSIVE/ RESPONSIVO*/
/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200px > */
@media (min-width: 1200px) {}
/* large devices: 1023px > */
@media (min-width: 1023px) {
  #header {
    height: 5rem;
    background-color: var(--body-color);
  }
  #header .logo {
    font-size: 2.5rem;
  }

  #header.scroll {
    background-color: var(--base-color-alt);
  }

  #header.scroll .logo {
    font-size: 2.5rem;
  }



   /*Navigation menu\ Menu navegação*/
   nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    font-size: 1.5rem;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--text-color-light);
     --webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title:active {
    font-weight: bold;
    --webkit-font-smoothing: auto;
  }
  nav .icon-menu {
    display: none;
  }

  nav ul li a::after{
    background-color: var(--body-color);
  }

  nav ul li a:hover, nav ul li a:active {
    color: var(--body-color);
  }

  #home{
    margin-top: 5rem;
  }

  .button {
    padding: 2.5rem;
    font-size: 1.5rem;
  }

  .button .whatsapp{
    /* ARRUMAR TEXTO*/
  }
 
  .card {
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #contact .text p{
    font-size: 1.5rem;
  }

  .back-to-top {
    right: 2rem;
    bottom: 2rem;
    padding: 2rem;
    font-size: 2rem;
  }

  .back-to-top.back-top {
    font-size: 1.5rem;
  }

}
/* large devices: 992px > */
@media (min-width: 992px) {
  .fundo-texto{
    width: 90%;
    padding: 7rem;
  }
  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 3em;
}
.section p, .section .subtitle{
  margin-left: 3rem;
  font-size: 1.5rem;
}
.section .title {
  margin-left: 3rem;
  font-size: 3em;
}
.button {
  margin-bottom: 5rem;
  margin-top: 2rem;
  margin-left: 64%;
}

footer .social a, footer .logo{
 margin-left: 2rem;
}

#contact ul li{
  font-size: 1.5rem;
}
#help {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

#help .doacao a{
  font-size: 1.5rem;
  padding: 1rem;
}

}
/* medium devices: 767px > */
@media (min-width: 767px) {
  img {
    width: 70%;
    margin-top: 1rem;
  }
  /*=== SERVICES/ SERVIÇOS ============================*/
  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .card .title{
    margin-top: 0.2rem;
  }

  #contact .adocao{
    margin-top: 5rem;
  }
}